@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-link {
  padding: 10px 15px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  background: linear-gradient(135deg, #000000, #222222);
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.contact_button a:hover {
  background-color: transparent;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.contact_button a {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity));
  border-color: rgb(51 51 51 / var(--tw-border-opacity));
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}